{% extends "layout.html" %}
{% block content %}
<div id="google_translate_element"></div>
 
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
 
    <script type="text/javascript"
            src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
    </script>
<div class="home">
    <style >
        body {
          font-family: 'Copperplate, Papyrus, fantasy';
        }
        </style>
        </head>
        
        <h1 style = "padding-left:300px;color: #000;font-family: Copperplate, Papyrus, fantasy;"> The Things That a Diabetic Person Should Do</h1>
</div>
<div>   
    <h1 style = "padding-left:50px;font-size: xx-large;color:BL;font-family: Copperplate, Papyrus, fantasy" >1.What is diabetes?</h1> 
    <p style = "padding-left:50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">If you have diabetes, your blood glucose, or blood sugar, levels are too high. Glucose comes from foods you eat. The cells of your body need glucose for energy. A hormone called insulin helps the glucose get into your cells.

        With type 1 diabetes, your body doesn't make insulin. With type 2 diabetes, your body doesn't make or use insulin well. Without enough insulin, glucose builds up in your blood and causes high blood sugar levels.
        
        Prediabetes means that your blood sugar levels are higher than normal but not high enough to be called diabetes. If you have prediabetes, you are more likely to develop type 2 diabetes.
        
        </p> 
    <h1 style = "padding-left:50px;font-size:xx-large;color:black;font-family: Copperplate, Papyrus, fantasy" >2.How do the foods I eat affect my blood sugar levels?</h1> 
    <p style = "padding-left:50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">The sugar in your blood comes from certain foods called carbohydrates, or "carbs." Foods that are high in carbs include candy and sweets, sodas, breads, tortillas, and white rice. The more carbs you eat, the higher your blood sugar level will be.

        Whether you have type 1 or type 2 diabetes, making the right food choices is an important way to keep your blood sugar at a healthy level. When you control your blood sugar, you lower your chance of having serious health problems from diabetes, such as vision loss and heart problems.
        
        And if you have prediabetes or are at risk for diabetes, eating foods that keep your blood sugar levels healthy may help prevent type 2 diabetes later on.</p>
    <h2 style="padding-left:50px;font-size:xx-large;color:black;font-family: Copperplate, Papyrus, fantasy">Yoga postures good for diabetic patients </h2>
    <h1 style="padding-left:50px;font-size:xx-large; padding-top: 50px;color:black;font-family: Copperplate, Papyrus, fantasy">1.Legs up the wall pose</h1>
    <p style = "padding-left:50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;font-family: Copperplate, Papyrus, fantasy">
    <img src="https://i0.wp.com/thumbs.gfycat.com/NegligibleMadHackee-size_restricted.gif?w=1155&h=840">
    <p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">This restorative inversion allows for relaxation. This helps lower stress levels, which may in turn help lower blood pressure and blood sugar levels. It can also help relieve headaches, boost energy, and increase circulation.</p>
    <p style = "padding-left:50px;font-size:large;padding-bottom: 50px;color:black;font-family: Copperplate, Papyrus, fantasy;font-family: Copperplate, Papyrus, fantasy">This restorative inversion allows for relaxation. This helps lower stress levels, which may in turn help lower blood pressure and blood sugar levels. It can also help relieve headaches, boost energy, and increase circulation.<br>
    Muscles worked:
    <br>
    1. hamstrings <br>
    2. pelvic muscles<br>
    3. lower back<br>
    4. front torso<br>
    5. back of the neck<br>
    <br>
    To do this:
    <br>
    1. Fold up a blanket or towel to sit on.<br>
    2. Sit with your right side against a wall.<br>
    3. Swing your legs up along the wall as you move to lay flat on your back. Your body should form a 90-degree angle against the wall.<br>
    4. Keep your sitting bones as close to the wall as possible.<br>
    5. Relax your neck, chin, and throat.<br>
    6. Stretch your arms out to the side with your palms facing up.<br>
    7. Remain in this pose for 5 to 15 minutes.<br>
    8. Release by slowly sliding your legs down to the side.<br>
    </p>
    <h1 style = "padding-left:50px;font-size: xx-large;color:black;font-family: Copperplate, Papyrus, fantasy">2. Reclining Bound Angle Pose</h1> 
    <img src ="https://www.yogajournal.com/wp-content/uploads/2021/12/BoundAnglePose_72dpi.gif?width=730" padding-left="50px;font-family: Copperplate, Papyrus, fantasy" >
    <p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">This is a restorative pose that can help calm your nervous system. This pose can also help reduce your stress levels, which may help lower blood pressure and blood sugar levels. It’s also thought to stimulate the abdominal organs, bladder, and kidneys.
    <br>
        Muscles worked:
        <br>
        1. adductors<br>
        2. groin muscles<br>
        3. pelvic muscles<br>
        4. psoas<br>
        To do this:<br>
        <br>
        1. While seated, bring the soles of your feet together. Your knees should be out to the sides.<br>
        2. You may place a bolster underneath your knees for support.<br>
        3. Slowly lean back until your back is flat on the floor.<br>
        4. Relax the area around your hips.<br>
        5. Rest your hands alongside your body with your palms facing up.<br>
        6. ou can also press down on your thighs to gently deepen the stretch in your legs and hips.<br>
        7. tay in this pose for up to 10 minutes.<br>
        8. To release, use your hands to lift and press your knees together. Slowly sit all the way up.<br>
    <h1 style = "padding-left:50px;font-size: xx-large; padding-top: 50px;color:black;font-family: Copperplate, Papyrus, fantasy;font-family: Copperplate, Papyrus, fantasy">3. Seated forward bend</h1>
    <img src="https://thumbs.gfycat.com/JaggedTightKillerwhale-size_restricted.gif">
    <p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">This pose is a therapeutic forward bend. In addition to lowering blood pressure and promoting weight loss, this pose may help relieve anxiety, headache, and fatigue.
        <br>
        Muscles worked:
        <br>
        1. pelvic muscles<br>
        2. erector spinae<br>
        3. gluteus maximus<br>
        4. gastrocnemius<br>
        To do this:<br>
        <br>
        1. Sit on the edge of a folded blanket and extend your legs long.<br>
        2. You may place a prop under your knees for support.<br>
        3. Imagine that you’re pressing the soles of your feet against a wall so that your toes are drawing back toward your shins.<br>
        4. Root into your sit bones, lengthen your spine, and open your heart center.<br>
        5. Hinge at your hips as you bend forward.<br>
        6. Walk your hands down to your feet, stopping when you reach a comfortable position. Your torso should fold into your legs.<br>
        7. Tuck your chin into your chest.<br>
        8. Remain in the pose for up to 3 minutes.<br> </p>
    <h1 style = "padding-left:50px;font-size: xx-large; padding-top: 50px;color:black">4. Supported shoulderstand</h1>
    <img src="https://dims.healthgrades.com/dims3/MMH/ff54ae9/2147483647/strip/true/crop/400x400+0+0/resize/400x400!/quality/75/?url=https%3A%2F%2Fucmscdn.healthgrades.com%2F8c%2F34%2Fbd8abc2746eb43a9cf807ec13224%2F2265-supported-shoulderstand-400x400-exercise.gif">
    <p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">This inversion may help improve circulation and stimulate the thyroid gland. It can also help calm the mind and relieve stress.
        <br>
        Muscles worked:
        <br>
        1. rectus abdominis<br>
        2. trapezius<br>
        3. rotator cuff<br>
        4. quadriceps<br>
        To do this:
        <br>
        1. Lie down flat on your back with a folded blanket under your shoulders.<br>
        2. Align your shoulders with the edge of the blanket.<br>
        3. Rest your arms alongside your body with your palms facing down.<br>
        4. Lift your legs straight up into the air.<br>
        5. Slowly lower your legs back toward your head.<br>
        6. Move your hands to your lower back for support. Your fingers should be facing upward.<br>
        7. Raise your legs up so that your shoulders, spine, and hips are in one straight line.<br>
        8. Remain in the pose for 30 seconds to 3 minutes.<br>
        9. Release by rolling your spine back down to the mat and lowering your legs to the floor.</p>
    <h1 style = "padding-left:50px;font-size: xx-large; padding-top: 50px;color:black;font-family: Copperplate, Papyrus, fantasy">5. Plow pose</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRatPQrXyI2P5eYLMhTfTpKPrqBiRgMK6a7nOb4swA&s" height="300px" width="400px">
    <p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">This inversion may help stimulate the thyroid gland, increase circulation, and reduce stress. Its therapeutic effects may also help relieve backache, headache, and insomnia.
        <br>
        Muscles worked:
        <br>
        1. rotator cuff<br>
        2. hamstrings<br>
        3. trapezius<br>
        4. spinal extensors<br>
        5. You may find it easier to transition into plow pose from supported shoulderstand
        <br>
        To do this:
        <br>
        1. From shoulderstand, bring your feet to the floor above your head.<br>
        2. If your feet don’t reach the floor, use a pillow or block for support.<br>
        3. Keep your hands on your lower back for added support.<br>
        4. Remain in the pose for 1 to 5 minutes.<br>
        5. To release, roll your spine back down to your mat and raise your legs up to form a 90-degree angle.<br>
        6. Lower your legs back down to your mat.</p>
    <h1 style = "padding-left:50px;font-size: xx-large; padding-top: 50px;color:black;font-family: Copperplate, Papyrus, fantasy">6. Upward-Facing Dog</h1>
    <img src = "https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2021/08/2265-Upward_Facing_Dog-400x400-exercise.gif">
    <p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: larger;padding-bottom: 50px; padding-top: 50px;color:black;font-family: Copperplate, Papyrus, fantasy">This stimulating backbend requires a lot of muscular strength. The pose may help lower blood pressure, boost circulation, and promote weight loss. It also stimulates the abdominal organs.
        <br>
        Muscles worked:
        <br>
        1. gluteus maximus<br>
        2. triceps brachii<br>
        3. spinal extensors<br>
        5. quadriceps<br>
        6. hamstrings<br>
        To do this:
        <br>
        1. Lie on your stomach with your legs extended behind you.<br>
        2. Place your palms flat on the floor. Your forearms should be perpendicular to the floor.<br>
        3. Press into your palms to straighten your arms and lift up your body and legs.<br>
        4. Come onto the tops of your feet.<br>
        5. Keep a slight bend in your elbows as you engage your thigh, arm, and abdominal muscles.<br>
        6. Maintain a firmness in your buttocks and shoulder blades.<br>
        7. Keep your gaze straight ahead.<br>
        8. Soften your throat and neck.<br>
        9. Remain in this pose for up to 30 seconds.</p>
    <h1 style = "padding-left:50px;font-size: xx-large; padding-top: 50px;color:black;font-family: Copperplate, Papyrus, fantasy">7. Bow Pose</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5UBeytRh-ITxmaBb410bOXLvC5hQquVOdkvoWZfpl&s" height="300px" width="400px">
    <p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">This backbend opens up your chest and stimulates your abdominal organs. This may help lower your blood sugar levels, as well as relieve constipation and respiratory ailments.
        <br>
        Muscles worked:
        <br>
        1. gluteus maximus<br>
        2. hamstrings<br>
        3. quadriceps<br>
        4. pectoralis major<br>
        To do this:
        <br>
        1. Lie down on your stomach.<br>
        2. Allow your arms to rest alongside your body with your palms facing up.<br>
        3. Bend your knees and bring your hands to the outside of your ankles.<br>
        4. Lift up your head, chest, and knees.<br>
        5. Breathe deeply and gaze forward.<br>
        6. Remain in the pose for up to 30 seconds.<br>
        7. On exhale, release the pose.<br>
        8. Place one hand on top of the other to make a pillow for your forehead.<br>
        9. Gently shake your hips from side-to-side to relax your lower back.<br>
        10. You may repeat this pose one or two times.</p>
    </p>
    <h2 style = "padding-left:50px;font-size: xx-large;color:black;font-family: Copperplate, Papyrus, fantasy">Best foods for people living with diabetes</h2>
    <p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">1. Fatty fish
        <br>
        <br>
        Salmon, sardines, herring, anchovies, and mackerel are great sources of the omega-3 fatty acids DHA and EPA, which have major benefits for heart health (1Trusted Source).
        
        Getting enough of these fats on a regular basis is especially important for people with diabetes, who have an increased risk of heart disease and stroke.
        
        DHA and EPA protect the cells that line your blood vessels, reduce markers of inflammation, and may help improve the way your arteries function.
        
        Research indicates that people who eat fatty fish regularly have a lower risk of acute coronary syndromes, like heart attacks, and are less likely to die from heart disease (2).
        
        Studies show that eating fatty fish may also help regulate blood sugar.
        
        A study involving 68 adults who had overweight or obesity found that participants who consumed fatty fish had significant improvements in post-meal blood sugar levels than participants who consumed lean fish (3Trusted Source).
        
        Fish is also a great source of high quality protein, which helps you feel full and helps stabilize blood sugar levels.
        <br>
        <br>
        SUMMARY<br>
        Fatty fish contain omega-3 fats that can help reduce inflammation and other risk factors of heart disease and stroke. Plus, it’s a great source of protein, which is important for managing blood sugar.
        <br>
        <br>
        2. Leafy greens
        <br>
        <br>
        Leafy green vegetables are extremely nutritious and low in calories.
        
        They’re also very low in digestible carbs, or carbs absorbed by the body, so they won’t significantly affect blood sugar levels.
        
        Spinach, kale, and other leafy greens are good sources of many vitamins and minerals, including vitamin C.
        
        Some evidence suggests that people with diabetes have lower vitamin C levels than people without diabetes, and they may have greater vitamin C requirements (4Trusted Source).
        
        Vitamin C acts as a potent antioxidant and also has anti-inflammatory qualities.
        
        Increasing dietary intake of vitamin C-rich foods can help people with diabetes increase their serum vitamin C levels while reducing inflammation and cellular damage (5Trusted Source).
        <br>
        <br>
        SUMMARY<br>
        Leafy green vegetables are rich in nutrients like vitamin C as well as antioxidants that protect your heart and eye health.
        <br>
        <br>
        3. Avocados
        <br>
        <br>
        Avocados have less than 1 gram of sugar, few carbohydrates, a high fiber content, and healthy fats, so you don’t have to worry about them raising your blood sugar levels.
        
        Avocado consumption is also associated with improved overall diet quality and significantly lower body weight and body mass index (BMI) (6Trusted Source).
        
        This makes avocados an ideal snack for people with diabetes, especially since obesity increases the chances of developing diabetes.
        
        Avocados may have properties specific to preventing diabetes.
        
        A 2019 study in mice found that avocatin B (AvoB), a fat molecule found only in avocados, inhibits incomplete oxidation in skeletal muscle and the pancreas, which reduces insulin resistance (7Trusted Source).
        
        More research is needed in humans to establish the connection between avocados and diabetes prevention.
        <br>
        <br>
        SUMMARY<br>
        Avocados have less than 1 gram of sugar and are associated with improved overall diet quality. Avocados may also have properties specific to diabetes prevention.
        <br>
        <br>
        4. Eggs
        <br>
        <br>
        Regular egg consumption may reduce your heart disease risk in several ways.
        
        Eggs may decrease inflammation, improve insulin sensitivity, increase your HDL (good) cholesterol levels, and modify the size and shape of your LDL (bad) cholesterol.
        
        A 2019 study found that eating a high fat, low carb breakfast of eggs could help people with diabetes manage blood sugar levels throughout the day (8Trusted Source).
        
        Older research has linked egg consumption with heart disease in people with diabetes.
        
        But a more recent review of controlled studies found that eating 6 to 12 eggs per week as part of a nutritious diet did not increase heart disease risk factors in people with diabetes (9Trusted Source).
        
        What’s more, some research suggests that eating eggs may reduce the risk of stroke (10Trusted Source).
        <br>
        <br>
        SUMMARY<br>
        Eggs may improve risk factors for heart disease, promote good blood sugar management, protect eye health, and keep you feeling full.
        <br>
        <br>
        5. Chia seeds
        <br>
        <br>
        Chia seeds are a wonderful food for people with diabetes.
        
        They’re extremely high in fiber, yet low in digestible carbs.
        
        In fact, 11 of the 12 grams of carbs in a 28-gram (1-ounce) serving of chia seeds are fiber, which doesn’t raise blood sugar.
        
        The viscous fiber in chia seeds can actually lower your blood sugar levels by slowing down the rate at which food moves through your gut and is absorbed.
        
        Chia seeds may help you achieve a moderate weight because fiber reduces hunger and makes you feel full. Chia seeds may also help maintain glycemic management in people with diabetes.
        
        A study involving 77 adults with overweight or obesity and a diagnosis of type 2 diabetes found that eating chia seeds supports weight loss and helps maintain good glycemic control (11Trusted Source).
        
        Additionally, chia seeds have been shown to help reduce blood pressure and inflammatory markers.
        <br>
        <br>
        SUMMARY<br>
        Chia seeds contain high amounts of fiber, which may help you lose weight. They also help maintain blood glucose levels.
        <br>
        <br>
        6. Beans
        <br>
        <br>
        Beans are affordable, nutritious, and super healthy.
        
        Beans are a type of legume rich in B vitamins, beneficial minerals (calcium, potassium, and magnesium), and fiber.
        
        They also have a very low glycemic index, which is important for managing diabetes.
        
        Beans may also help prevent diabetes.
        
        In a study involving more than 3,000 participants at high risk of cardiovascular disease, those who had a higher consumption of legumes had a reduced chance of developing type 2 diabetes (12).
        <br>
        <br>
        SUMMARY<br>
        Beans are cheap, nutritious, and have a low glycemic index, making them a healthy option for people with diabetes.
        <br>
        <br>
        7. Greek yogurt
        <br>
        <br>
        A long-term study involving health data from more than 100,000 participants found that a daily serving of yogurt was linked to an 18 percent lower risk of developing type 2 diabetes (13Trusted Source).
        
        It may also help you lose weight, if that’s a personal goal.
        
        Studies show yogurt and other dairy foods may lead to weight loss and improved body composition in people with type 2 diabetes (14Trusted Source).
        
        The high levels of calcium, protein, and a special type of fat called conjugated linoleic acid (CLA) found in yogurt may help keep you full for longer.
        
        What’s more, Greek yogurt contains only 6–8 grams of carbs per serving, which is lower than conventional yogurt.
        
        It’s also higher in protein, which may promote weight loss by reducing appetite and thus decreasing calorie intake.
        <br>
        <br>
        SUMMARY<br>
        Yogurt may promote healthy blood sugar levels, reduce risk factors for heart disease, and help with weight management.</p>
    </p>
{% endblock %}
