{% extends "layout.html" %}
{% block content %}
<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h4>Recent</h4>
        </div>
        <div class="srch_bar">
          <div class="stylish-input-group">
            <input type="text" class="search-bar" placeholder="Search">
            <span class="input-group-addon">
              <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
            </span>
          </div>
        </div>
      </div>
      <div class="inbox_chat">
        <div class="chat_list active_chat">
          <div class="chat_people">
          <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="visal"> </div>
            <div class="chat_ib">
              <h5>Amit<span class="chat_date">11:01 AM</span></h5>
              <p>Hey! How are you ??</p>
            </div>
          </div>
        </div>
        <div class="chat_list">
          <div class="chat_people">
            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="visal"> </div>
            <div class="chat_ib">
              <h5>Hareesh<span class="chat_date">11:10 AM</span></h5>
              <p>Hi ! I am fine how about you ??</p>
            </div>
          </div>
        </div>
        <div class="chat_list">
          <div class="chat_people">
            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="visal"> </div>
            <div class="chat_ib">
              <h5>S.Kumari<span class="chat_date">11:35 AM</span></h5>
              <p>Hey! finally got a yoga practician near by my house . Wanna join ???</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mesgs">
      <div class="msg_history">
        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Hi!
                </p>
              <span class="time_date"> 11:01 AM | June 9</span>
            </div>
          </div>
        </div>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>Hi!!!! </p>
            <span class="time_date"> 11:01 AM | June 9</span>
          </div>
        </div>
        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p> Do you know any yoga practician near by ???</p>
              <span class="time_date"> 11:01 AM | Yesterday</span>
            </div>
          </div>
        </div>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>Hey . I am also searching for a yoga practician 
              just asked Kumari regarding this and she told that she has a yoga practician near by her house
            </p>
            <span class="time_date"> 11:01 AM | Today</span>
          </div>
        </div>
        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Demn!!!!
              </p>
              <span class="time_date"> 11:01 AM | Today</span>
            </div>
          </div>
        </div>
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input type="text" class="write_msg" placeholder="Type a message" />
          <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}