{% extends "layout.html" %}
{% block content %}
<div id="google_translate_element"></div>
 
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
 
    <script type="text/javascript"
            src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
    </script>
<h2 style="padding-left:50px;font-size:xx-large;color:black;font-family: Copperplate, Papyrus, fantasy"> Frequently asked questions</h2>
<h1 style="padding-left:50px;font-size:xx-large;color:black;font-family: Copperplate, Papyrus, fantasy"> 1.What is diabetes and how can I be tested for it??</h1>
<p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">Diabetes is a condition in which your blood sugar, or blood glucose, rises to unhealthy levels. Insulin, a hormone created in the pancreas, enables glucose from your food to be transferred from blood to your cells in order to provide energy for your body. When glucose is not properly processed or if not enough insulin is created to help the processing, glucose is trapped in the blood and cannot reach your cells. 
</p>
<h1 style="padding-left:50px;font-size:xx-large;color:black;font-family: Copperplate, Papyrus, fantasy">2.What health problems does it cause?</h1>
<p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">Many conditions caused by diabetes can be serious and even life threatening. These include:
    <br>
    1. Heart disease<br>
    2. High blood pressure<br>
    3. Stroke<br>
    4. Kidney disease<br>
    5. Eye damage<br>
    6. Foot problems</p>
<h1 style="padding-left:50px;font-size:xx-large;color:black;font-family: Copperplate, Papyrus, fantasy">3.What types of diabetes am I at risk for?</h1>
<p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">Type 2 diabetes is the most common type of diabetes People with type 2 diabetes produce insulin like anyone else, but their bodies are unable to process it effectively. People most at risk for developing type 2 diabetes:
    <br>
    1. have a family history of diabetes<br>
    2. are 45 or older<br>
    3. are overweight<br>
    4. are physically inactive/lack a regular exercise routine<br>
    5. have high blood pressure
    <br>
    Type 1 diabetes is marked by the inability of the body to produce any insulin. This is caused by the immune system mistakenly attacking and destroying insulin-producing cells in the pancreas. Risk factors for type 1 diabetes include:
    <br>
    1. family history of type 1 diabetes<br>
    2. younger age—most common among children and adolescents<br>
    3. geography—occurs more often in populations living further from the equator<br>
    <br>
    Prediabetes is a condition in which you have higher than normal levels of glucose in your blood, but not enough to warrant a diagnosis for type 2 diabetes. With healthy changes in your diet and/or lifestyle activities, prediabetes is reversible and can be prevented from developing into diabetes.<br>
    <br>
    Gestational diabetes develops during pregnancy and can affect a baby’s health. However, it can be controlled through healthy eating, exercise, and medications. Blood glucose levels typically return to normal after delivery. If you’ve had gestational diabetes, you could be at higher risk for developing type 2 diabetes later, so talk to your doctor to manage your blood glucose going forward.<br>
    <br>
    </p>
<h1 style="padding-left:50px;font-size:xx-large;color:black;font-family: Copperplate, Papyrus, fantasy">4.How can diabetes be treated?</h1>
<p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">Type 2 diabetes is often treated with diet, exercise, medication taken orally, or with direct infusions of insulin. Oral medications help the insulin the body produces be more effective in processing glucose. Insulin injected through a syringe or delivered by an insulin pump mimics the way the pancreas would naturally produce and distribute insulin.</p>
<h1 style="padding-left:50px;font-size:xx-large;color:black;font-family: Copperplate, Papyrus, fantasy">5.What can I do to help prevent diabetes?</h1>
<p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">If you have prediabetes, there are many things you can do to take better care of yourself to reduce the risk of developing type 2 diabetes:
    <br>
    1. Eliminate/drastically reduce sugar in your diet<br>
    2. Exercise regularly/stay active<br>
    3. Make water your main beverage<br>
    4. Lose weight if you are overweight<br>
    5. Eat more fiber<br>
    6. Take adequate amounts of vitamin D<br>
    7. Avoid/stop smoking</p>
<h1 style="padding-left:50px;font-size:xx-large;color:black;font-family: Copperplate, Papyrus, fantasy">6.How can I manage my diabetes better? </h1>
<p style = "padding-left:50px;padding-left: 50px;padding-left: 50px; font-size: x-large;padding-bottom:50px;padding-top:50px;color:black;font-family: Copperplate, Papyrus, fantasy">If you have been diagnosed with diabetes, you need a plan of action developed by your doctor or an endocrinologist to keep your condition under control.
<br>
1. Keep close watch over your blood glucose<br>
2. Pay attention to your blood pressure—adjust diet and lifestyle choices to help lower it<br>
3. Watch cholesterol levels<br>
4. Maintain the health of your kidneys—consult your doctor or a nephrologist to have a microalbumin test at least once every year<br>
</p>
{% endblock %}