{% extends "layout.html" %}
{% block content %}
<script>
  window.onload = function () {
    let currentLoggedInUser = window.sessionStorage.getItem("currentloggedin");
    console.log(currentLoggedInUser);
    $.ajax({
      type: "POST",
      url: "/pushData",
      data: JSON.stringify(currentLoggedInUser),
      contentType: "application/json",
      dataType: 'json'
    });
  };
</script>
// At present this data is only for project purpose not to show publically
<div id="google_translate_element"></div>
<script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
</script>
 
    <script type="text/javascript"
            src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
    </script>
<div class="topnav">
  <form method="post" action="/PatientDetails/">
    <input type="text" placeholder="Search.." id="searchInput" name="searchInput">
    <input id="my_submit" type="submit" value="Submit">
  </form>
 
</div>
<br />
<table id="tableContent">
    <tr>
      <th>Name</th>
      <th>Gender</th>
      {% if role %}
      <th>Age</th>
      {% endif %}
      <!-- <th>image</th> -->
      <th>SufferingFrom</th>
      <th>area</th>
      <th>state</th>
      {% if role %}
      <th>adress</th>
      {% endif %}
      <th>Important contacts</th>
      <th>location</th>
    </tr>
    {% for row in rows %}
    <tr>
      <td id={{row.Name}} onclick="chat(event)">{{ row.Name }}</td>
      <td>{{ row.Gender }}</td>
      {% if role %}
      <td>{{ row.Age }}</td>
      {% endif %}
      <!-- <td><img src="{{ row.imageURL }}" alt="{{ row.name }}" height=100 width=200></td> -->
      <td>{{ row.SufferingFrom }}</td>
      <td>{{ row.area }}</td>
      <td>{{ row.state }}</td>
      {% if role %}
      <td>{{ row.address }}</td>
      {% endif %}
      <td>{{ row.Importantcontacts }}</td>
      <td><a href={{url_for('location')}}>location</a></td>
    </tr>
    {% endfor %}
  </table>
  <script>
     function chat(event) {
      event.stopPropagation();
      console.log(event);
      // let clickedUser = event.target.textContent;
      // let currentLoggedInUser = window.localStorage.getItem("users");
      // currentLoggedInUser = JSON.parse(currentLoggedInUser);
      // console.log(currentLoggedInUser);
      // let filteredData = currentLoggedInUser.filter(function(el){
      //   return el.username.toLowerCase() == clickedUser.toLowerCase();
      // });
      // if(filteredData) {
        location.href = "/chat/";
      // }
    };
  </script>
{% endblock %}